body{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  background-color: pink;
}

.stop-watch{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid;
  border-radius: 50px;
  background-color: white;
  padding: 30px;
}

.display{
  font-size: 5rem;
  font-family: monospace;
  font-weight: bold;
  color: hsl(0, 0%, 30%);
  text-shadow: 4px 5px 4px rgba(255, 192, 203, 0.605);
}
.controls button{
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  margin: 5px;
  min-width: 125px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  transition: background-color 0.5s ease;
}

.start-button{
  background-color: rgba(14, 135, 46, 0.763);
}
.start-button:hover{
  background-color: rgb(12, 121, 41);
}
.stop-button{
  background-color: red;
}
.stop-button:hover{
  background-color: rgb(154, 0, 0);
}
.reset-button{
  background-color: rgba(14, 14, 123, 0.813);
}
.reset-button:hover{
  background-color: rgb(6, 6, 72);;
}